body{
    background-color: grey;
}
.h1{
    border-radius: 1px;
    border-color: rgb(214, 198, 198);
    border-style: solid;
    background-color: white;
}

aside {
    width: 30%;
    padding-left: 200px;
    margin-left: 200px;
    float: left;
  }
.h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.h3{
    font-family: Arial, Helvetica, sans-serif;
}

.parent{
    width:100%;
    display: flex;
}

.vision, .mission, .about{
    height:50vh;
    width:33.33%;
    padding: 20px;
    margin: 20px;
}



.vision{
    background-color:aqua;
}
.mission{
    background-color: blueviolet;
}
.about{
    background-color:beige;
}

.parent h3{
    padding-left: 130px;
}
#excel{
    border-radius: 1px ;
    border-color: white;
    border-style: solid;
    background-color: white;
    margin-right: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
}

.parent1{
    width:100%;
    display: flex;
}
.topnav{
    width:100%;
    display: flex;
    padding:20px ;
}
.topnav a{
    padding: 2px;
}


.navigation{
    padding-left:1000px;
}

.topnav{
    width:33.33%;
}



